---
import Chat from "../components/chat";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <script is:inline src="https://accounts.google.com/gsi/client" async
    ></script>
  </head>
  <body class="bg-zinc-900 text-zinc-100">
    <Chat client:only />
  </body>
</html>
